In [1]:
import pandas as pd

In [2]:
ls

 Volume in drive C has no label.
 Volume Serial Number is B207-EB4C

 Directory of C:\Users\nithishkumar.r\Libraries

15-01-2025  10:46    <DIR>          .
15-01-2025  10:46    <DIR>          ..
15-01-2025  10:14    <DIR>          .ipynb_checkpoints
15-01-2025  10:43             6,601 cleaned_iris.csv
15-01-2025  10:46            10,154 cleaned_Iris.xlsx
21-09-2019  17:26             5,107 Iris.csv
13-01-2025  14:58             3,609 Numpy.ipynb
13-01-2025  15:29            11,800 Pandas.ipynb
15-01-2025  10:46            73,457 Task.ipynb
04-09-2021  13:08            18,752 tips.csv
               7 File(s)        129,480 bytes
               3 Dir(s)  837,888,454,656 bytes free

In [3]:
df=pd.read_csv('Iris.csv')

In [4]:
print(df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [5]:
Setosa = df[df['Species'] == 'Iris-setosa']

In [6]:
print(Setosa)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           3.4            1.7           0.2  Iris-setosa
21  22            5.1           3.7            1.5           0.4  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
23  24            5.1           3.3            1.7           0.5  Iris-setosa
24  25            4.8           3.4            1.9           0.2  Iris-setosa
25  26            5.0           3.0            1.6           0.2  Iris-setosa
26  27            5.0           3.4            1.6           0.4  Iris-setosa
27  28            5.2           3.5            1.5           0.2  Iris-setosa
28  29            5.2           3.4            1.4           0.2  Iris-setosa
29  30            4.7           3.2            1.6           0.2  Iris-setosa
30  31            4.8           3.1            1.6           0.2  Iris-setosa
31  32            5.4           3.4            1.5           0.4  Iris-setosa
32  33            5.2           4.1            1.5           0.1  Iris-setosa
33  34            5.5           4.2            1.4           0.2  Iris-setosa
34  35            4.9           3.1            1.5           0.1  Iris-setosa
35  36            5.0           3.2            1.2           0.2  Iris-setosa
36  37            5.5           3.5            1.3           0.2  Iris-setosa
37  38            4.9           3.1            1.5           0.1  Iris-setosa
38  39            4.4           3.0            1.3           0.2  Iris-setosa
39  40            5.1           3.4            1.5           0.2  Iris-setosa
40  41            5.0           3.5            1.3           0.3  Iris-setosa
41  42            4.5           2.3            1.3           0.3  Iris-setosa
42  43            4.4           3.2            1.3           0.2  Iris-setosa
43  44            5.0           3.5            1.6           0.6  Iris-setosa
44  45            5.1           3.8            1.9           0.4  Iris-setosa
45  46            4.8           3.0            1.4           0.3  Iris-setosa
46  47            5.1           3.8            1.6           0.2  Iris-setosa
47  48            4.6           3.2            1.4           0.2  Iris-setosa
48  49            5.3           3.7            1.5           0.2  Iris-setosa
49  50            5.0           3.3            1.4           0.2  Iris-setosa

In [7]:
filter_rows = df[(df['SepalWidthCm'] > 3.5) & (df['Species'] == 'Iris-Setosa')]

In [8]:
print(filter_rows)

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [9]:
df = df.rename(columns={'SepalWidthCm': 'Sepal_Width'})

In [10]:
df

,Id,SepalLengthCm,Sepal_Width,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [11]:
df['SepalArea'] = df['SepalLengthCm'] * df['Sepal_Width']

In [12]:
df

,Id,SepalLengthCm,Sepal_Width,PetalLengthCm,PetalWidthCm,Species,SepalArea
0,1,5.1,3.5,1.4,0.2,Iris-setosa,17.85
1,2,4.9,3.0,1.4,0.2,Iris-setosa,14.70
2,3,4.7,3.2,1.3,0.2,Iris-setosa,15.04
3,4,4.6,3.1,1.5,0.2,Iris-setosa,14.26
4,5,5.0,3.6,1.4,0.2,Iris-setosa,18.00
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,20.10
146,147,6.3,2.5,5.0,1.9,Iris-virginica,15.75
147,148,6.5,3.0,5.2,2.0,Iris-virginica,19.50
148,149,6.2,3.4,5.4,2.3,Iris-virginica,21.08
149,150,5.9,3.0,5.1,1.8,Iris-virginica,17.70

In [13]:
df = df.drop_duplicates()

In [14]:
df

,Id,SepalLengthCm,Sepal_Width,PetalLengthCm,PetalWidthCm,Species,SepalArea
0,1,5.1,3.5,1.4,0.2,Iris-setosa,17.85
1,2,4.9,3.0,1.4,0.2,Iris-setosa,14.70
2,3,4.7,3.2,1.3,0.2,Iris-setosa,15.04
3,4,4.6,3.1,1.5,0.2,Iris-setosa,14.26
4,5,5.0,3.6,1.4,0.2,Iris-setosa,18.00
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,20.10
146,147,6.3,2.5,5.0,1.9,Iris-virginica,15.75
147,148,6.5,3.0,5.2,2.0,Iris-virginica,19.50
148,149,6.2,3.4,5.4,2.3,Iris-virginica,21.08
149,150,5.9,3.0,5.1,1.8,Iris-virginica,17.70

In [15]:
df['Species'] = df['Species'].replace('Iris-setosa', 'Setosa')

In [16]:
df

,Id,SepalLengthCm,Sepal_Width,PetalLengthCm,PetalWidthCm,Species,SepalArea
0,1,5.1,3.5,1.4,0.2,Setosa,17.85
1,2,4.9,3.0,1.4,0.2,Setosa,14.70
2,3,4.7,3.2,1.3,0.2,Setosa,15.04
3,4,4.6,3.1,1.5,0.2,Setosa,14.26
4,5,5.0,3.6,1.4,0.2,Setosa,18.00
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,20.10
146,147,6.3,2.5,5.0,1.9,Iris-virginica,15.75
147,148,6.5,3.0,5.2,2.0,Iris-virginica,19.50
148,149,6.2,3.4,5.4,2.3,Iris-virginica,21.08
149,150,5.9,3.0,5.1,1.8,Iris-virginica,17.70

In [17]:
df['Species'] = df['Species'].replace('Setosa', 'Iris-setosa')

In [18]:
df['Species'] = df['Species'].replace('Iris-setosa', 'Setosa')

In [19]:
df.to_csv('cleaned_iris.csv', index=False)

In [20]:
df

,Id,SepalLengthCm,Sepal_Width,PetalLengthCm,PetalWidthCm,Species,SepalArea
0,1,5.1,3.5,1.4,0.2,Setosa,17.85
1,2,4.9,3.0,1.4,0.2,Setosa,14.70
2,3,4.7,3.2,1.3,0.2,Setosa,15.04
3,4,4.6,3.1,1.5,0.2,Setosa,14.26
4,5,5.0,3.6,1.4,0.2,Setosa,18.00
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,20.10
146,147,6.3,2.5,5.0,1.9,Iris-virginica,15.75
147,148,6.5,3.0,5.2,2.0,Iris-virginica,19.50
148,149,6.2,3.4,5.4,2.3,Iris-virginica,21.08
149,150,5.9,3.0,5.1,1.8,Iris-virginica,17.70

In [21]:
asscending= df.sort_values(by='Sepal_Width', ascending=True)

In [22]:
asscending

,Id,SepalLengthCm,Sepal_Width,PetalLengthCm,PetalWidthCm,Species,SepalArea
60,61,5.0,2.0,3.5,1.0,Iris-versicolor,10.00
62,63,6.0,2.2,4.0,1.0,Iris-versicolor,13.20
119,120,6.0,2.2,5.0,1.5,Iris-virginica,13.20
68,69,6.2,2.2,4.5,1.5,Iris-versicolor,13.64
41,42,4.5,2.3,1.3,0.3,Setosa,10.35
...,...,...,...,...,...,...,...
16,17,5.4,3.9,1.3,0.4,Setosa,21.06
14,15,5.8,4.0,1.2,0.2,Setosa,23.20
32,33,5.2,4.1,1.5,0.1,Setosa,21.32
33,34,5.5,4.2,1.4,0.2,Setosa,23.10
15,16,5.7,4.4,1.5,0.4,Setosa,25.08

In [23]:
df['Species'] = df['Species'].replace('iris-Setosa', 'Setosa')

In [24]:
df['Species'] = df['Species'].replace('Iris-Setosa', 'Setosa')

In [25]:
df['Species'] = df['Species'].replace('Iris-Setosa', 'Setosa')

In [26]:
descending= df.sort_values(by='Sepal_Width', ascending=False)

In [27]:
descending

,Id,SepalLengthCm,Sepal_Width,PetalLengthCm,PetalWidthCm,Species,SepalArea
15,16,5.7,4.4,1.5,0.4,Setosa,25.08
33,34,5.5,4.2,1.4,0.2,Setosa,23.10
32,33,5.2,4.1,1.5,0.1,Setosa,21.32
14,15,5.8,4.0,1.2,0.2,Setosa,23.20
16,17,5.4,3.9,1.3,0.4,Setosa,21.06
...,...,...,...,...,...,...,...
87,88,6.3,2.3,4.4,1.3,Iris-versicolor,14.49
62,63,6.0,2.2,4.0,1.0,Iris-versicolor,13.20
68,69,6.2,2.2,4.5,1.5,Iris-versicolor,13.64
119,120,6.0,2.2,5.0,1.5,Iris-virginica,13.20
60,61,5.0,2.0,3.5,1.0,Iris-versicolor,10.00

In [28]:
duplicates= df.duplicated()

In [29]:
duplicates

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool

In [30]:
remove_duplictes = df.drop_duplicates()

In [31]:
remove_duplictes

,Id,SepalLengthCm,Sepal_Width,PetalLengthCm,PetalWidthCm,Species,SepalArea
0,1,5.1,3.5,1.4,0.2,Setosa,17.85
1,2,4.9,3.0,1.4,0.2,Setosa,14.70
2,3,4.7,3.2,1.3,0.2,Setosa,15.04
3,4,4.6,3.1,1.5,0.2,Setosa,14.26
4,5,5.0,3.6,1.4,0.2,Setosa,18.00
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,20.10
146,147,6.3,2.5,5.0,1.9,Iris-virginica,15.75
147,148,6.5,3.0,5.2,2.0,Iris-virginica,19.50
148,149,6.2,3.4,5.4,2.3,Iris-virginica,21.08
149,150,5.9,3.0,5.1,1.8,Iris-virginica,17.70

In [32]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\nithishkumar.r\appdata\local\programs\python\python39\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\nithishkumar.r\appdata\local\programs\python\python39\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [38]:
df = df.to_excel('cleaned_iris.xlsx', index=False)

AttributeError: 'NoneType' object has no attribute 'to_excel'

In [ ]:
df_cleaned = df.dropna()

In [ ]:
import numpy as np

In [ ]:
df_cleaned = df.dropna()

In [ ]:
df = None

In [ ]:
df_cleaned = df.dropna()